/* _about */
@use 'global' as *;

.about {
	padding: 30px 0;

	&__container {
	}
	&__title {
	}
	&__subtitle {
		margin-bottom: toRem(74);
	}
	&__item-list {
		display: flex;
		justify-content: space-between;

		padding-right: 10px;

		// &:after {
		// 	content: '';
		// 	display: block;
		// 	width: 0;
		// 	padding: 0;
		// 	margin: 0;
		// 	background: #000;
		// }
		@include media-breakpoint-down(md, $breakpoints: $grid-breakpoints) {
			flex-wrap: wrap;
		}
	}
	&__item {
		padding: 10px 10px;
		width: 290px;
		max-width: 100%;
		text-align: center;
		position: relative;

		&--active {
			.about__icon-wrap {
				background-color: $pinkish-grey;
			}
		}

		@include media-breakpoint-down(md, $breakpoints: $grid-breakpoints) {
			@include flex-static(50%);
		}
	}

	&__item-num-wrap {
		position: absolute;
		left: -3px;
		top: 2px;
		display: inline-block;
		height: 62px;
		text-align: left;

		.icon {
			height: 100%;
			width: 130px;
			margin: 0;
		}

		@include media-breakpoint-down(lg, $breakpoints: $grid-breakpoints) {
			height: 40px;

			.icon {
				width: 90px;
			}
		}
	}
	&__icon-wrap {
		$size: 163px;
		width: $size;
		height: $size;
		background-color: $beige;
		border-radius: 50%;
		margin: 0 auto 26px;
		@include box-center;
		transition: 0.2s linear;

		.icon {
			width: 80px;
			height: 80px;

			&--1 {
			}
		}

		@include media-breakpoint-down(lg, $breakpoints: $grid-breakpoints) {
			$size: 123px;
			width: $size;
			height: $size;

			.icon {
				width: 60px;
				height: 60px;
			}
		}
	}

	&__item-title {
		@include text-about;
	}
	&__progress {
		background: #000000;
		height: 1px;
		margin: 0 55px 34px 96px;

		&-inner {
			background: #c3b7ab;
			width: 100px; // JS: SCROLL DISTANCE
			height: 1px;
		}
	}
	&__progress-inner {
	}
	&__text {
		@include text-about;
		margin-bottom: 45px;
	}
	&__btn.btn {
		display: table;
		margin: 0 auto;
	}
}
.container {
}
.section-title {
}
.section-subtitle {
}
.btn {
}
