@use 'global' as *;

.background-img {
	&-item {
		position: absolute;
		z-index: -1;

		@include media-breakpoint-down(lg, $breakpoints: $grid-breakpoints) {
			max-width: 60%;
		}

		&--1 {
			// top: 1000px;
			margin-top: -700px;
			left: 25%;
			transform: translateX(-50%);
		}
		&--2 {
			margin-top: -300px;
			right: -10%;
		}
		&--3 {
			margin-top: -365px;
			left: -18%;
		}
		&--4 {
			padding-left: 40px;
			margin-left: -22%;
		}
		&--5 {
			right: -20%;
		}
		&--6 {
			margin-top: -40%;
			margin-left: 40%;
		}
	}
}
