/* _portfolio */

@use 'global' as *;

.portfolio {
	// padding: 30px 0;
	padding-top: 50px;

	&__container.container {
		// width: 100%;
		width: auto;
		max-width: none;
		text-align: center;
	}
	&__filter-btn-group {
		margin: 0 auto;
		margin-bottom: toRem(56);
		display: inline-flex;
	}
	&__filter-btn {
		color: #474747;
		font-family: Bahnschrift;
		font-size: toRem(15);
		font-weight: 400;
		text-transform: uppercase;
		min-width: 40px;
		margin-right: toRem(36);
		cursor: pointer;
		position: relative;
		z-index: 0;

		&:last-child {
			margin-right: 0;
		}

		&:hover,
		&:active, 
		&.mixitup-control-active {
			&::after {
				right: toRem(-20);
			}
		}

		&:after {
			content: '';
			position: absolute;
			left: 0;
			bottom: 0px;
			height: toRem(11);
			background-color: $pinkish-grey;
			right: 100%;
			z-index: -1;
			transition: 0.2s;
		}
	}
	&__list {
		display: flex;
		flex-wrap: wrap;
		// display: none;
		margin-left: -$container-padding-x;
		margin-right: -$container-padding-x;
		align-items: flex-start;

		&--1 {
		}
		&--2 {
		}
		&--3 {
		}
		&--4 {
		}
	}
	&__img-wrap {
		position: relative;
		@include flex-static(25%);
		// display: inline-block;
		// vertical-align: top;
		// text-align: left;
		// height: 300px;
		// width: 25%;
		background-color: $brownish-grey;
		overflow: hidden;
		// border: 1px solid #000;

		@include media-breakpoint-down(md, $breakpoints: $grid-breakpoints) {
			@include flex-static(33.333%);
		}
	}
	&__img {
		padding-bottom: 100%;
		background-size: cover;
		background-position: center;
		transition: 1.5s ease;
		cursor: pointer;

		&:hover {
			transform: scale(1.1);
		}
	}
}
