<!-- hero  -->
<section class="hero parallax">
	<div class="hero__container container">
		<h1 class="hero__title" data-aos="fade-down" data-aos-delay="500" data-aos-duration="1000">Дизайн интерьера с
			любовью <i class="hero__title-icon">

				@@include('@@html/components/mixins/svgicon.html', {"name": "hero-title-icon"})
			</i>
		</h1>
		<div class="hero__descr" data-aos="fade-down" data-aos-delay="1200" data-aos-duration="500">Вкладываем душу
			в&nbsp;наши проекты и&nbsp;создаем индивидуальный, эксклюзивный,
			современный и&nbsp;функциональный дизайн, с&nbsp;использованием новейших технологий и&nbsp;материалов.
			Воплощаем ваши мечты и&nbsp;желания с&nbsp;2013&nbsp;года.</div>
		<a href="#portfolio" class="btn btn--light hero__btn js-scroll-to" data-aos="fade-down" data-aos-delay="1200"
			data-aos-duration="500">Посмотреть
			проекты</a>

	</div>
</section>
<!-- END hero  -->