<!-- portfolio  -->
<section id="portfolio" class="portfolio">
	<div class="portfolio__container container">


		<div class="portfolio__filter-btn-group">
			<div data-filter="all" class="mix portfolio__filter-btn">Все</div>
			<div data-filter=".portfolio__category--1" class="mix portfolio__filter-btn">архитектура</div>
			<div data-filter=".portfolio__category--2" class="mix portfolio__filter-btn">Декор</div>
			<div data-filter=".portfolio__category--3" class="mix portfolio__filter-btn">Интерьер</div>
		</div>

		<div class="portfolio__list">
			<!-- 1 -->
			<div class="portfolio__img-wrap portfolio__category portfolio__category--1"
				data-src="@img/portfolio/1@3x.jpg">
				<div class="portfolio__img" style="background-image: url('@img/portfolio/1.jpg');"></div>
			</div>
			<div class="portfolio__img-wrap portfolio__category portfolio__category--1"
				data-src="@img/portfolio/2@3x.jpg">
				<div class="portfolio__img" style="background-image: url('@img/portfolio/2.jpg');"></div>
			</div>
			<div class="portfolio__img-wrap portfolio__category portfolio__category--1"
				data-src="@img/portfolio/3@3x.jpg">
				<div class="portfolio__img" style="background-image: url('@img/portfolio/3.jpg');"></div>
			</div>
			<div class="portfolio__img-wrap portfolio__category portfolio__category--1"
				data-src="@img/portfolio/1@3x.jpg">
				<div class="portfolio__img" style="background-image: url('@img/portfolio/1.jpg');"></div>
			</div>
			<div class="portfolio__img-wrap portfolio__category portfolio__category--1"
				data-src="@img/portfolio/2@3x.jpg">
				<div class="portfolio__img" style="background-image: url('@img/portfolio/2.jpg');"></div>
			</div>
			<div class="portfolio__img-wrap portfolio__category portfolio__category--1"
				data-src="@img/portfolio/1@3x.jpg">
				<div class="portfolio__img" style="background-image: url('@img/portfolio/1.jpg');"></div>
			</div>
			<div class="portfolio__img-wrap portfolio__category portfolio__category--1"
				data-src="@img/portfolio/3@3x.jpg">
				<div class="portfolio__img" style="background-image: url('@img/portfolio/3.jpg');"></div>
			</div>
			<!-- 2 -->
			<div class="portfolio__img-wrap portfolio__category portfolio__category--2"
				data-src="@img/portfolio/3@3x.jpg">
				<div class="portfolio__img" style="background-image: url('@img/portfolio/3.jpg');"></div>
			</div>
			<div class="portfolio__img-wrap portfolio__category portfolio__category--2"
				data-src="@img/portfolio/1@3x.jpg">
				<div class="portfolio__img" style="background-image: url('@img/portfolio/1.jpg');"></div>
			</div>
			<div class="portfolio__img-wrap portfolio__category portfolio__category--2"
				data-src="@img/portfolio/2@3x.jpg">
				<div class="portfolio__img" style="background-image: url('@img/portfolio/2.jpg');"></div>
			</div>
			<div class="portfolio__img-wrap portfolio__category portfolio__category--2"
				data-src="@img/portfolio/1@3x.jpg">
				<div class="portfolio__img" style="background-image: url('@img/portfolio/1.jpg');"></div>
			</div>
			<div class="portfolio__img-wrap portfolio__category portfolio__category--2"
				data-src="@img/portfolio/3@3x.jpg">
				<div class="portfolio__img" style="background-image: url('@img/portfolio/3.jpg');"></div>
			</div>
			<!-- 3 -->
			<div class="portfolio__img-wrap portfolio__category portfolio__category--3"
				data-src="@img/portfolio/3@3x.jpg">
				<div class="portfolio__img" style="background-image: url('@img/portfolio/3.jpg');"></div>
			</div>
			<div class="portfolio__img-wrap portfolio__category portfolio__category--3"
				data-src="@img/portfolio/1@3x.jpg">
				<div class="portfolio__img" style="background-image: url('@img/portfolio/1.jpg');"></div>
			</div>
			<div class="portfolio__img-wrap portfolio__category portfolio__category--3"
				data-src="@img/portfolio/2@3x.jpg">
				<div class="portfolio__img" style="background-image: url('@img/portfolio/2.jpg');"></div>
			</div>
			<div class="portfolio__img-wrap portfolio__category portfolio__category--3"
				data-src="@img/portfolio/1@3x.jpg">
				<div class="portfolio__img" style="background-image: url('@img/portfolio/1.jpg');"></div>
			</div>
			<div class="portfolio__img-wrap portfolio__category portfolio__category--3"
				data-src="@img/portfolio/3@3x.jpg">
				<div class="portfolio__img" style="background-image: url('@img/portfolio/3.jpg');"></div>
			</div>
			<div class="portfolio__img-wrap portfolio__category portfolio__category--3"
				data-src="@img/portfolio/3@3x.jpg">
				<div class="portfolio__img" style="background-image: url('@img/portfolio/3.jpg');"></div>
			</div>
			<div class="portfolio__img-wrap portfolio__category portfolio__category--3"
				data-src="@img/portfolio/1@3x.jpg">
				<div class="portfolio__img" style="background-image: url('@img/portfolio/1.jpg');"></div>
			</div>
			<div class="portfolio__img-wrap portfolio__category portfolio__category--3"
				data-src="@img/portfolio/2@3x.jpg">
				<div class="portfolio__img" style="background-image: url('@img/portfolio/2.jpg');"></div>
			</div>
			<div class="portfolio__img-wrap portfolio__category portfolio__category--3"
				data-src="@img/portfolio/1@3x.jpg">
				<div class="portfolio__img" style="background-image: url('@img/portfolio/1.jpg');"></div>
			</div>
			<div class="portfolio__img-wrap portfolio__category portfolio__category--3"
				data-src="@img/portfolio/3@3x.jpg">
				<div class="portfolio__img" style="background-image: url('@img/portfolio/3.jpg');"></div>
			</div>



		</div>






		<!-- 		<div class="portfolio__list">

			<div class="portfolio__tab-content portfolio__tab-content--1">
				<div class="portfolio__img-wrap">
					<div class="portfolio__img"></div>
				</div>
				<div class="portfolio__img-wrap">
					<div class="portfolio__img" style="background-image: url('img/portfolio/1.jpg');"></div>
				</div>
				<div class="portfolio__img-wrap">
					<div class="portfolio__img" style="background-image: url('@img/portfolio/2.jpg');"></div>
				</div>
				<div class="portfolio__img-wrap">
					<div class="portfolio__img" style="background-image: url('@img/portfolio/3.jpg');"></div>
				</div>
				<div class="portfolio__img-wrap">
					<div class="portfolio__img" style="background-image: url('@img/portfolio/1.jpg');"></div>
				</div>
				<div class="portfolio__img-wrap">
					<div class="portfolio__img" style="background-image: url('@img/portfolio/2.jpg');"></div>
				</div>
				<div class="portfolio__img-wrap">
					<div class="portfolio__img" style="background-image: url('@img/portfolio/1.jpg');"></div>
				</div>
				<div class="portfolio__img-wrap">
					<div class="portfolio__img" style="background-image: url('@img/portfolio/3.jpg');"></div>
				</div>
			</div>
			<div class="portfolio__tab-content portfolio__tab-content--2">
				<div class="portfolio__img-wrap">
					<div class="portfolio__img" style="background-image: url('@img/portfolio/3.jpg');"></div>
				</div>
				<div class="portfolio__img-wrap">
					<div class="portfolio__img" style="background-image: url('@img/portfolio/1.jpg');"></div>
				</div>
				<div class="portfolio__img-wrap">
					<div class="portfolio__img" style="background-image: url('@img/portfolio/2.jpg');"></div>
				</div>
				<div class="portfolio__img-wrap">
					<div class="portfolio__img" style="background-image: url('@img/portfolio/1.jpg');"></div>
				</div>
				<div class="portfolio__img-wrap">
					<div class="portfolio__img" style="background-image: url('@img/portfolio/3.jpg');"></div>
				</div>
			</div>
			<div class="portfolio__tab-content portfolio__tab-content--3">
				<div class="portfolio__img-wrap">
					<div class="portfolio__img" style="background-image: url('@img/portfolio/3.jpg');"></div>
				</div>
				<div class="portfolio__img-wrap">
					<div class="portfolio__img" style="background-image: url('@img/portfolio/1.jpg');"></div>
				</div>
				<div class="portfolio__img-wrap">
					<div class="portfolio__img" style="background-image: url('@img/portfolio/2.jpg');"></div>
				</div>
				<div class="portfolio__img-wrap">
					<div class="portfolio__img" style="background-image: url('@img/portfolio/1.jpg');"></div>
				</div>
				<div class="portfolio__img-wrap">
					<div class="portfolio__img" style="background-image: url('@img/portfolio/3.jpg');"></div>
				</div>
				<div class="portfolio__img-wrap">
					<div class="portfolio__img" style="background-image: url('@img/portfolio/3.jpg');"></div>
				</div>
				<div class="portfolio__img-wrap">
					<div class="portfolio__img" style="background-image: url('@img/portfolio/1.jpg');"></div>
				</div>
				<div class="portfolio__img-wrap">
					<div class="portfolio__img" style="background-image: url('@img/portfolio/2.jpg');"></div>
				</div>
				<div class="portfolio__img-wrap">
					<div class="portfolio__img" style="background-image: url('@img/portfolio/1.jpg');"></div>
				</div>
				<div class="portfolio__img-wrap">
					<div class="portfolio__img" style="background-image: url('@img/portfolio/3.jpg');"></div>
				</div>

			</div>
			<div class="portfolio__tab-content portfolio__tab-content--4">
				<div class="portfolio__img-wrap">
					<div class="portfolio__img" style="background-image: url('@img/portfolio/1.jpg');"></div>
				</div>
				<div class="portfolio__img-wrap">
					<div class="portfolio__img" style="background-image: url('@img/portfolio/2.jpg');"></div>
				</div>
				<div class="portfolio__img-wrap">
					<div class="portfolio__img" style="background-image: url('@img/portfolio/1.jpg');"></div>
				</div>
				<div class="portfolio__img-wrap">
					<div class="portfolio__img" style="background-image: url('@img/portfolio/3.jpg');"></div>
				</div>
			</div>
		</div> -->
	</div>
</section>
<!-- END portfolio  -->