<!-- services  -->
<section id="services" class="services">
	<div class="services__container container">
		<h2 class="services__title section-title">[ О Компании ]</h2>
		<div class="dots">. . .</div>
		<div class="services__item-list">
			<div class="services__item" data-aos="fade-right">
				<h3 class="services__item-title">ДИЗАЙН квартир</h3>
				<div class="services__item-text">
					Создаем уникальные и&nbsp;комфортные дизайн-проекты квартир
					с&nbsp;функциональным пространством индивидуально для вас
				</div>
				<a href="#contact" class="services__item-btn js-scroll-to">подробнее</a>
			</div>
			<div class="services__item" data-aos="fade-down" data-aos-delay="300">
				<h3 class="services__item-title">Дизайн <br>общественных пространств</h3>
				<div class="services__item-text">
					Создаем функциональное и&nbsp;комфортное пространство для общественных мест
					с индивидуальным подходом
				</div>
				<a href="#contact" class="services__item-btn js-scroll-to">подробнее</a>
			</div>
			<div class="services__item" data-aos="fade-left">
				<h3 class="services__item-title">ДИЗАЙН ДОМОВ</h3>
				<div class="services__item-text">
					Создаем уникальный, эксклюзивный дизайн домов, с&nbsp;учетом всех ваших
					пожеланий, создавая уютное, функциональное и&nbsp;комфортное пространство
					индивидуально для вас.
				</div>
				<a href="#contact" class="services__item-btn js-scroll-to">подробнее</a>
			</div>
		</div>

		<div class="services__stat-list">
			<div class="services__stat-item">
				<div class="services__stat-num" data-scroll data-scroll-call="servicesScrollEvent">200 +</div>
				<div class="services__stat-title">довольных <br>клиентов</div>
			</div>
			<div class="services__stat-item">
				<div class="services__stat-num" data-scroll data-scroll-call="servicesScrollEvent">15 +</div>
				<div class="services__stat-title">лет <br>в&nbsp;дизайне</div>
			</div>
			<div class="services__stat-item">
				<div class="services__stat-num" data-scroll data-scroll-call="servicesScrollEvent">7 +</div>
				<div class="services__stat-title">международных <br>выставок</div>
			</div>
		</div>
	</div>
</section>
<!-- END services  -->