<!-- team  -->
<section id="team" class="team">
	<div class="team__container container">
		<div class="team__main-wrap">
			<div class="team__text-wrap" data-aos="zoom-in-right" data-aos-duration="900">
				<h2 class="team__title">[ ПРофессионалы ]</h2>
				<div class="team__subtitle section-subtitle">Миссия нашей команды</div>
				<div class="dots">. . .</div>
				<p class="team__text">
					Дизайн интерьера&nbsp;&mdash; это не&nbsp;просто фантазия, о&nbsp;которой многие
					говорят. Это реальность, и&nbsp;мы&nbsp;ходит сделать дизайн доступным для всех.
					Хотим воплотить ваши фантазии и&nbsp;идеи в&nbsp;жизнь. Сколько людей,
					столько&nbsp;же существует и&nbsp;разнообразных мнений и&nbsp;желаний и&nbsp;наша
					главная задача, создать уникальный и&nbsp;индивидуальный дизайн именно для Вас.
					В&nbsp;современном мире, при существовании огромного количества различных тенденций,
					стилей, материалов, достаточно сложно самостоятельно определиться с&nbsp;выбором,
					понять свои желания. И&nbsp;в&nbsp;этот момент, появляемся&nbsp;мы.
					Мы&nbsp;не&nbsp;только поможем принять окончательное решение,
					но&nbsp;и&nbsp;воплотим его в&nbsp;жизнь. Сэкономим ваше время и&nbsp;сделаем все
					в&nbsp;лучшем виде, гарантируя высокий и&nbsp;качественный результат.
				</p>
				<a href="#portfolio" class="team__btn btn js-scroll-to">Посмотреть проекты</a>
			</div>
			<div class="team__img-wrap" data-aos="zoom-in-left" data-aos-duration="900">
				<img src="@img/team.jpg" alt="Наша команда" class="team__img" />
				<img src="@img/team-heart.png" class="team__img-heart" alt="" data-scroll data-scroll-speed="0.07">
			</div>
		</div>
	</div>
	<img data-scroll class="background-img-item background-img-item--6" src="@img/bg-parts/6.svg" alt=""
		data-scroll-speed="0.3">
</section>
<!-- END team  -->