<!-- testimonials  -->
<section id="testimonials" class="testimonials">
	<div class="testimonials__container container">
		<h2 class="testimonials__title">[ Отзывы ]</h2>
		<div class="testimonials__subtitle section-subtitle">Что о нас говорят</div>
		<div class="dots">. . .</div>
		<div class="testimonials__outer-wrapper">
			<div class="testimonials__list-wrapper">
				<div class="testimonials__list swiper-wrapper">
					<div class="testimonials__item swiper-slide">
						<div class="testimonials__item-inner">
							<img src="@img/test-1.jpg" alt="" class="testimonials__item-img">
						</div>
					</div>
					<div class="testimonials__item swiper-slide">
						<div class="testimonials__item-inner">
							<img src="@img//test-2.jpg" alt="" class="testimonials__item-img">
						</div>
					</div>
					<div class="testimonials__item swiper-slide">
						<div class="testimonials__item-inner">
							<img src="@img//test-3.jpg" alt="" class="testimonials__item-img">
						</div>
					</div>
					<div class="testimonials__item swiper-slide">
						<div class="testimonials__item-inner">
							<img src="@img//test-2.jpg" alt="" class="testimonials__item-img">
						</div>
					</div>
					<div class="testimonials__item swiper-slide">
						<div class="testimonials__item-inner">
							<img src="@img//test-1.jpg" alt="" class="testimonials__item-img">
						</div>
					</div>
				</div>
				<div class="swiper-pagination"></div>
				<div class="swiper-button-prev"></div>
				<div class="swiper-button-next"></div>
			</div>
		</div>

		<!-- filter: brightness(0) invert(1); -->
		<div class="testimonials__logo-list">
			<div class="testimonials__logo-item"><img src="@img/test-logo-1.png" alt=""></div>
			<div class="testimonials__logo-item"><img src="@img/test-logo-2.png" alt=""></div>
			<div class="testimonials__logo-item"><img src="@img/test-logo-1.png" alt=""></div>
			<div class="testimonials__logo-item"><img src="@img/test-logo-2.png" alt=""></div>
			<div class="testimonials__logo-item"><img src="@img/test-logo-1.png" alt=""></div>
			<div class="testimonials__logo-item"><img src="@img/test-logo-2.png" alt=""></div>

		</div>

	</div>
</section>
<!-- END testimonials  -->