<!-- why  -->
<section class="why">
	<div class="why__container container" data-scroll-container>
		<div class="why__list-wrap" data-scroll-section>
			<ul class="why__list">
				<li class="why__list-item" data-aos="zoom-out" data-aos-delay="220">
					<div class="why__item-num">12&nbsp;%</div> Экономия на декоре
				</li>
				<li class="why__list-item" data-aos="zoom-out" data-aos-delay="240">
					<div class="why__item-num">15&nbsp;%</div> Экономия на мебели
				</li>
				<li class="why__list-item" data-aos="zoom-out" data-aos-delay="260">
					<div class="why__item-num">10&nbsp;%</div> Экономия на материалах
				</li>
				<li class="why__list-item" data-aos="zoom-out" data-aos-delay="280">
					<div class="why__item-num">100&nbsp;%</div> Экономия на нервах
				</li>
				<li class="why__list-item" data-aos="zoom-out" data-aos-delay="300">
					<div class="why__item-num">100&nbsp;%</div> Уверенность в результате
				</li>
			</ul>
		</div>
		<div class="why__text-wrap" data-aos="fade-left" data-aos-delay="700">
			<div class="why__title section-subtitle">Зачем нужен дизайн проект</div>
			<div class="dots">. . .</div>
			<p class="why__text">Дизайн-проект&nbsp;&mdash; это замечательная возможность проработать все варианты
				и&nbsp;пожелания &laquo;на&nbsp;бумаге&raquo; до&nbsp;начала ремонтных работ, выбрав наиболее
				подходящий, индивидуальный и&nbsp;комфортный именно для вас. Ремонт&nbsp;&mdash; это сложный процесс,
				особенно если он&nbsp;комплексный. Только представьте, что где-то в&nbsp;середине строительства
				вы&nbsp;обнаруживаете, что какая-то деталь интерьера не&nbsp;подходит и&nbsp;теперь необходимо менять
				многое, снова теряя свое время и&nbsp;деньги. Но&nbsp;всего этого можно избежать! Намного проще решить
				все возможные ситуации еще на&nbsp;начальных этапах ремонта, проработав их&nbsp;и&nbsp;разобрав
				мельчайшие детали с&nbsp;помощью дизайн проекта и&nbsp;уже изначально знать и&nbsp;понимать, какой
				финальный результат будет вас ожидает. Дизайнер с&nbsp;нуля нарисует модель помещения на&nbsp;основе
				ваших пожеланий и&nbsp;требований, где вы&nbsp;сможете увидеть все от&nbsp;плитки и&nbsp;мебели
				до&nbsp;расположения светильников. Вы&nbsp;изначально будете застрахованы от&nbsp;строительных ошибок
				и&nbsp;сэкономите свое время, деньги и&nbsp;нервы.</p>
			<a href="#portfolio" class="why__btn btn js-scroll-to">Посмотреть проекты</a>
		</div>
	</div>
</section>
<!-- END why  -->